.nav  {
    background-color:#f8f9fa;
    
}
.nav a:hover {
    background-color:#e0e1e2;
}

.nav .sub-link {
    padding-left: 4rem;
}
.nav .fixbg {
    background-color:#e0e1e2;
}

i {
    font-size:16px;
    padding-right: 0.5rem;
}

.box {
    box-shadow: 5px 5px 15px 5px rgba(216, 216, 216, 0.5);
}

.sub-link.active {
    background-color: 5px 5px 15px 5px rgba(216, 216, 216, 0.5);
}