/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Kanit', sans-serif;
}
.areaall {
    padding-top: 7rem; 
    padding-left: 17rem;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(197, 197, 197);
}

.content-container {
    padding-left: 17rem;
    padding-right: 2rem;
    padding-top: 7rem;
}

.bold1 {
    font-weight: bold;
    font-size: 22px;
}

.bold2 {
    font-weight: bold;
    font-size: 18px;
    color: DimGrey ;
}
td {
    color: DimGrey ;
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

tr {
    color: DimGrey ;
}

i {
    padding-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }