<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/restaurant.ico" width="48" height="48" class="d-inline-block align-top" alt="">
    </a>
    <a class="navbar-brand" href="#">Restaurants</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['dashboard']">Package</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">About</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div data-toggle="modal" data-target="#signinModal">
          <a class="nav-link">Sign in</a>
        </div>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" data-toggle="modal"
          data-target="#signupModal">
          <i class="fa fa-user-circle" style="font-size:16px"></i> Sign Up
        </button>
      </form>
    </div>
  </nav>
  
  <!-- nav -->
  <header class="text-white text-center" style="background:url(/assets/img/wallpaper2you_362161.jpg);padding-top: 12rem;padding-bottom: 12rem;background-size:cover;">
  
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Assistant for your Restaurants</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary" [routerLink]="['dashboard']">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  
  
  
  <section>
    <div class="container-fluid" style="background-color:rgb(247, 247, 247);padding-top: 2rem;">
      <div class="col-12 col-sm-12 text-center">
        <h2>Package</h2>
      </div>
      <div class="d-flex justify-content-center ">
        <div class="row" style="padding-left: 12%;padding-right: 12%;">
          <div class="card col-sm" style="margin-right: 1%;margin-left: 1%;margin-top: 1%;margin-bottom: 1%;">
            <div class="card-body" style="padding-bottom: 2rem;">
              <h3 class="card-title text-center">S</h3>
              <p class="card-text">Start for your Restaurant.Power by Dashboard</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Online</li>
              <li class="list-group-item">Dashboard</li>
              <li class="list-group-item">Not support Delivery</li>
              <li class="list-group-item">Not support Membership</li>
              <li class="list-group-item">1 Branch</li>
              <li class="list-group-item">1 Admin</li>
              <li class="list-group-item">1 Manager</li>
              <li class="list-group-item">10 Employee</li>
              <li class="list-group-item">Database 20 GB</li>
              <li class="list-group-item">Update Version Free</li>
              <li class="list-group-item">Support 24hr</li>
            </ul>
            <a class="nav-link text-center" href="#">Compare</a>
            <div class="card-body text-center">
  
              <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" data-toggle="modal"
                data-target="#signupModal">
                <i style="font-size:16px"></i>THB 1,000
              </button>
            </div>
          </div>
  
          <div class="card col-sm" style="margin-right: 1%;margin-left: 1%;margin-top: 1%;margin-bottom: 1%;">
            <div class="card-body" style="padding-bottom: 2rem;">
              <h3 class="card-title text-center">M</h3>
              <p class="card-text">Increase Sales for your Restaurant.Support Membership</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Online</li>
              <li class="list-group-item">Dashboard</li>
              <li class="list-group-item">Support Membership</li>
              <li class="list-group-item">Not Support Delivery</li>
              <li class="list-group-item">1 Branch</li>
              <li class="list-group-item">2 Admin</li>
              <li class="list-group-item">2 Manager</li>
              <li class="list-group-item">15 Employee</li>
              <li class="list-group-item">Database 40 GB</li>
              <li class="list-group-item">Update Version Free</li>
              <li class="list-group-item">Support 24hr</li>
            </ul>
            <a class="nav-link text-center" href="#">Compare</a>
            <div class="card-body text-center">
              <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" data-toggle="modal"
                data-target="#signupModal">
                <i style="font-size:16px"></i>THB 2,000
              </button>
            </div>
          </div>
          <div class="card col-sm" style="margin-right: 1%;margin-left: 1%;margin-top: 1%;margin-bottom: 1%;">
            <div class="card-body" style="padding-bottom: 2rem;">
              <h3 class="card-title text-center">L</h3>
              <p class="card-text">The best of Restaurant & Membership System</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Online</li>
              <li class="list-group-item">Dashboard</li>
              <li class="list-group-item">Support Membership</li>
              <li class="list-group-item">Support Delivery</li>
              <li class="list-group-item">X Branch</li>
              <li class="list-group-item">X Admin</li>
              <li class="list-group-item">X Manager</li>
              <li class="list-group-item">X Employee</li>
              <li class="list-group-item">Database X GB</li>
              <li class="list-group-item">Update Version Free</li>
              <li class="list-group-item">Support 24hr</li>
            </ul>
            <a class="nav-link text-center" href="#">Compare</a>
            <div class="card-body text-center">
              <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" data-toggle="modal"
                data-target="#requestPrice">
                <i style="font-size:16px"></i>Request Price
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container-fluid" style="padding-top: 2rem;">
      <div class="col-12 col-sm-12 text-center">
        <h2>Browser Support</h2>
      </div>
      <div class="d-flex align-content-start flex-wrap bd-highlight justify-content-center mb-3" style="height: 200px">
        <div class="p-2 bd-highlight">
          <div class="p-2 bd-highlight">
            <img src="/assets/img/googlechome.png" class="rounded-circle" alt="" width="100rem" height="100rem">
            <p class="text-center">Google chome</p>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="p-2 bd-highlight">
            <img src="/assets/img/firefox.png" class="rounded-circle" alt="" width="100rem" height="100rem">
            <p class="text-center">Firefox</p>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="p-2 bd-highlight">
            <img src="/assets/img/opera.png" class="rounded-circle" alt="" width="100rem" height="100rem">
            <p class="text-center">Opera</p>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="p-2 bd-highlight">
            <img src="/assets/img/ie.png" alt="" width="100rem" height="100rem">
            <p class="text-center">IE</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section>
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="signinModalLabel">SIGN IN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-user-circle" style="font-size:16px"></i>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="E-mail">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-key" style="font-size:16px"></i>
                    </div>
                  </div>
                  <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password">
                </div>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" [routerLink]="['dashboard']">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section>
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="signupModalLabel">SIGN UP</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-user-circle" style="font-size:16px"></i>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="E-mail">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-key" style="font-size:16px"></i>
                    </div>
                  </div>
                  <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-key" style="font-size:16px"></i>
                    </div>
                  </div>
                  <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Re-Password">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Information</label>
                <input type="text" class="form-control" id="Restaurantsname" placeholder="Restaurants name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputAddress" placeholder="Address">
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" id="inputCity" placeholder="City">
                </div>
                <div class="form-group col-md-4">
                  <select id="inputState" class="form-control">
                    <option selected>State...</option>
                    <option>Ubon Ratchathani</option>
                    <option>Bangkok</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" id="inputZip" placeholder="Zip">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone number">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section>
    <div class="modal fade" id="requestPrice" tabindex="-1" role="dialog" aria-labelledby="requestPrice" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="requestPrice">Request Price</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="inputAddress">
                  <h5>Contacts</h5>
                </label>
                <div class="form-group">
                  <input type="text" class="form-control" id="phoneNumber" placeholder="Name-surname">
                </div>
                <input type="text" class="form-control" id="Restaurantsname" placeholder="Restaurants name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputAddress" placeholder="Address">
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" id="inputCity" placeholder="City">
                </div>
                <div class="form-group col-md-4">
                  <select id="inputState" class="form-control">
                    <option selected>State...</option>
                    <option>Ubon Ratchathani</option>
                    <option>Bangkok</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" id="inputZip" placeholder="Zip">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="phoneNumber" placeholder="E-mail">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone number">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">
                  <h5>Business Size</h5>
                </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Qty : Branch , Admin , Manager , Employee etc."></textarea>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  I agree to the Up-link.tech Privacy Policy *
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  I agree that Up-link.tech can contact me by email to promote their products and services.
                </label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  <section>
    <div class="container-fluid" style="background-color:rgb(37, 37, 37);color: white;padding-top: 1rem;">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="p-2 bd-highlight">
              <div class="p-2 bd-highlight">
                <img src="/assets/img/up-link.png" alt="" style="float: left;width :4rem;height :4rem;">
              </div>
              <br>
              <br>
              <div class="p-2 bd-highlight">
                ©2018 up-link.tech company, LLC. All rights reserved. Proudly made in Thailand
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="d-flex flex-row justify-content-end">
              <div class="p-2">
                <div class="d-flex flex-column">
                  <div class="p-2 h5">Company</div>
                  <div class="p-2">About</div>
                  <div class="p-2">Blog</div>
                  <div class="p-2">Security</div>
                </div>
              </div>
              <div class="p-2">
                <div class="d-flex flex-column">
                  <div class="p-2  h5">Products</div>
                  <div class="p-2">Pricing</div>
                  <div class="p-2">Documentation</div>
                </div>
              </div>
              <div class="p-2">
                <div class="d-flex flex-column">
                  <div class="p-2  h5">Community</div>
                  <div class="p-2">Tutorials</div>
                  <div class="p-2">Q&A</div>
                </div>
              </div>
              <div class="p-2">
                <div class="d-flex flex-column">
                  <div class="p-2  h5">Support</div>
                  <div class="p-2">Contact Support</div>
                  <div class="p-2">FAQ</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class=" d-flex align-items-end justify-content-center">
          <div class="p-2" style="color: white;"></div>
        </div>
      </div>
    </div>
  </section>